# Dependencies
node_modules

# Build
dist
dist-ssr
*.local

# Editor
.vscode/*
!.vscode/extensions.json

# Logs
*.log
npm-debug.log*

# Environment
.env
.env.*

# OS
.DS_Store

# TypeScript
*.tsbuildinfo
vite.config.js
vite.config.d.ts
vite.config.d.ts.map

public/data/